body {
  /* background-color: rgb(178, 225, 239); */
  background-color: white;
}

.contact-img {
  position: absolute;
  top: 0;
  width: 100vw;
}

.pohutakawa {
  position: absolute;
  top: 50vw;
  width: 100vw;
}

.instagram {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  width: 7vw;
  top: 2vw;
  right: 2vw;
}

.home {
  position: absolute;
  font-size: 2vw;
  top: 52vw;
  left: 43.4vw;
  color: #f7e0aa;
}

.home:hover {
  color: #e5ad5c;
}

.contact {
  position: absolute;
  font-size: 2vw;
  top: 51.5vw;
  left: 55.2vw;
  color: #f7e0aa;
}

.contact:hover {
  color: #e5ad5c;
}

.hbspt-form {
  position: absolute;
  background-color: white;
  padding: 2vw;
  border-radius: 2vw;
  top: 60vw;
  width: 500px;
  left: 50%;
  transform: translate(-50%, 0);
}
