body {
  /* background-color: rgb(178, 225, 239); */
  background-color: white;
}

.contact-img {
  position: absolute;
  top: 0;
  width: 100vw;
}

.social {
  position: absolute;
  top: 2vw;
  right: 2vw;
  display: flex;
}

.facebook,
.twitter,
.linkedin,
.instagram {
  margin-left: 1.5vw;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 7vw;
}

.home {
  position: absolute;
  font-size: 2vw;
  top: 52.2vw;
  left: 43.4vw;
  color: #f7e0aa;
}

.home:hover {
  color: #e5ad5c;
}

.contact {
  position: absolute;
  font-size: 2vw;
  top: 52vw;
  left: 55vw;
  color: #f7e0aa;
}

.contact:hover {
  color: #e5ad5c;
}

.hbspt-form {
  position: absolute;
  background-color: white;
  padding: 2vw;
  border-radius: 2vw;
  top: 125vw;
  width: 500px;
  left: 50%;
  transform: translate(-50%, 0);
}
