.pohutakawa {
  position: absolute;
  top: 0;
  width: 100vw;
}

.cloud-1 {
  opacity: 0;
  position: absolute;
  width: 15vw;
  top: 8vw;
  animation: left-to-right 20s infinite linear -8s;
}

.cloud-2 {
  opacity: 0;
  position: absolute;
  width: 15vw;
  top: 3vw;
  animation: left-to-right 24s infinite linear -2s;
}

.cloud-3 {
  opacity: 0;
  position: absolute;
  width: 15vw;
  top: 6vw;
  animation: left-to-right 16s infinite linear -12s;
}

.cloud-4 {
  opacity: 0;
  position: absolute;
  width: 5vw;
  top: 5vw;
  animation: left-to-right 100s infinite linear -60s;
}

.plane {
  opacity: 0;
  position: absolute;
  width: 30vw;
  top: 5.5vw;
  animation: left-to-right 10s infinite linear 2s;
}

@keyframes left-to-right {
  0% {
    opacity: 1;
    left: -30vw;
  }
  100% {
    opacity: 1;
    left: 110vw;
  }
}

.tree-1 {
  position: absolute;
  width: 28.2vw;
  top: -3.4vw;
  right: 19.7vw;
}

.tree-2 {
  position: absolute;
  width: 9vw;
  top: 6.4vw;
  right: -0.1vw;
}

.social {
  position: absolute;
  top: 2vw;
  right: 2vw;
  display: flex;
}

.facebook,
.twitter,
.linkedin,
.instagram {
  margin-left: 1.5vw;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 7vw;
}

.cub-sitting {
  position: absolute;
  width: 13vw;
  top: 36vw;
  left: 49vw;
  transform: translate(-50%, -50%);
}

.bee {
  position: absolute;
  width: 23vw;
  top: 30vw;
  left: 19vw;
  cursor: pointer;
}

.angry-bee {
  display: none;
  position: absolute;
  width: 15vw;
}

.angry-bee-1 {
  top: 32vw;
  left: 20vw;
  transform: rotate(90deg);
}

.angry-bee-2 {
  top: 30vw;
  left: 32vw;
  transform: rotate(180deg);
}

.home {
  position: absolute;
  font-size: 2vw;
  top: 52vw;
  left: 43.4vw;
  color: #f7e0aa;
}

.home:hover {
  color: #e5ad5c;
}

.contact {
  position: absolute;
  font-size: 2vw;
  top: 51.3vw;
  left: 55vw;
  color: #f7e0aa;
}

.contact:hover {
  color: #e5ad5c;
}

.drop-1 {
  position: absolute;
  width: 1.5vw;
  top: 78vw;
  left: 50vw;
}

.drop-2 {
  position: absolute;
  width: 1.8vw;
  top: 77.5vw;
  left: 58.6vw;
}

.drop-3 {
  position: absolute;
  width: 1.4vw;
  top: 78.6vw;
  left: 72vw;
}

.drop-4 {
  position: absolute;
  width: 2.4vw;
  top: 204.3vw;
  left: 20.2vw;
}

.drop-5 {
  position: absolute;
  width: 2.2vw;
  top: 204.4vw;
  left: 37vw;
}

.drop-6 {
  position: absolute;
  width: 2.6vw;
  top: 204.1vw;
  left: 53.3vw;
}

.drop-7 {
  position: absolute;
  width: 2.5vw;
  top: 203.8vw;
  left: 68.5vw;
}
