@font-face {
  font-family: Alexe;
  src: url("../fonts/Alexe-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow-x: hidden;
  font-family: Alexe;
  font-size: 40px;
}
body {
  /* background-color: rgb(178, 225, 239); */
  background-color: black;
}

main {
  position: relative;
}
